.App {
   text-align: center;
   background-image: url("./components/Auxiliares/RAMback.png");
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
}

@font-face {
   font-family: 'Rick and Morty';
   src: url(./components/Auxiliares/get_schwifty.ttf) format('truetype');
   font-style: normal;
   font-weight: normal;
}

body{
   font-family: 'Rick and Morty';
}